{% load static %}

<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/edits.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoBuddy Estimator</title>

</head>

<body style="background-color: rgb(252, 20, 20);">
    <div id = "about">
        <h1 style="font-family: neuton; color: white; text-align: center;">AutoBuddy Estimator</h1>
    
        <p style='font-family: neuton; color: white; line-height: 1.8; margin-left: 120px; margin-right: 120px; font-size: 20px; margin-top: 100px;'>
           Welcome to the AutoBuddy Estimator! Here, you can pull up the average price for the repair or set of repairs for 
           your car. The AutoBuddy Estimator is easy to use. All you need to do is to select the year, make, and model for your
           car, and select the repairs you want to get a quote for. You can select multiple repairs. AutoBuddy will calculate
           the sum of each of the repair's averages.
       </p>
    </div>
    <div id = 'header&form' style="text-align: center;">
        <h2>Car Form</h2>
        <form method="post" id="modelForm" data-models-url="{% url 'ajax_load_models' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
     
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_make").change(function () {
            const url = $("#modelForm").attr("data-models-url");  // get the url of the `load_cities` view
            const makeId = $(this).val();  // get the selected country ID from the HTML input
            $.ajax({    
                                   // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'make_id': makeId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
                    for (let i = 0; i < data.models.length; i++) {
                        var option = $('<option/>');
                        option.attr({ 'value': data.models[i].id }).text(data.models[i].name);
                        $('#id_model').append(option);
                    }
                    /*
                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.name}</option>`
                    });
                    console.log(html_data);
                    $("#id_city").html(html_data);
                    */
                }
            });
    
        });
    </script>
    
    </body>
    </html>