{% load static %}

<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'css/edits.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make a Report</title>

</head>

<body style="background-color: rgb(252, 20, 20);">
    <div id = "about">
        <h1 style="font-family: neuton; color: white; text-align: center;">Help AutoBuddy by Submitting Your Repair Bill</h1>
        <p style='font-family: neuton; color: white; line-height: 1.8; margin-left: 120px; margin-right: 120px; font-size: 20px; margin-top: 100px;'>
            AutoBuddy is powered by the reports that users submit to AutoBuddy. These reports include the user's vehicle information (year, make, and model),
            which repairs were done on their car, the cost of these repairs, and their name. The names are not collected by
            AutoBuddy and are simply used as references for the databases behind the scenes. All entries in a report are sent to
            AutoBuddy, which then stores them in the database. 
        </p>

        <p style='font-family: neuton; color: white; line-height: 1.8; margin-left: 120px; margin-right: 120px; font-size: 20px; margin-top: 100px;'>
            The AutoBuddy Estimator and Is It Fair? tools take the car and repair information you submitted, and searches
            through the database for all entries that match your car and repair(s). AutoBuddy then calculates the sum and average
            of these entries, and returns the result back to you.
        </p>

        <p style='font-family: neuton; color: white; line-height: 1.8; margin-left: 120px; margin-right: 120px; font-size: 20px; margin-top: 100px;'><
            AutoBuddy relies on user reports to work. That's why you're asked to submit a report on your auto repair expenitures. 
            Of course, you don't have to submit your report, but if you're feeling particularly helpful, doing so will certainly
            satisfy that feeling. AutoBuddy promises confidentiality and will do its best not to leak your name.    
        </p>
